<ion-list>
  <!--LOCATION OPTIONS-->
  <ion-list-header>
    Location With Sorted Categories
  </ion-list-header>
  <ion-item
          (click)="navigateToManageLocationSortedCategories()">Manage Order of Categories</ion-item>
  <ion-item
          (click)="promptNewTitleForLocation()">Rename Location</ion-item>
  <ion-item
          (click)="promptToCreateNewLocation()">Create New Location</ion-item>
  <ion-item
          (click)="promptToDeleteLocation()">Delete Location</ion-item>

  <!--SHOPPING LIST OPTIONS-->
  <ion-list-header>
    Shopping List
  </ion-list-header>
  <ion-item
          (click)="emptyShoppingList()">Empty Shopping List</ion-item>
  <ion-item *ngIf="userIsOwnerOfShoppingList"

            (click)="manageShoppingList()">Manage Shopping List</ion-item>
  <ion-item *ngIf="!userIsOwnerOfShoppingList"

            (click)="promptToLeaveShoppingList()">Leave Shared Shopping List</ion-item>
  <ion-item
          (click)="promptUserForNewShoppingList()">Create New Shopping List</ion-item>
  <ion-item *ngIf="userIsOwnerOfShoppingList &&
                 $userHasMoreThanOneShoppingList | async"

            (click)="promptUserToDeleteShoppingList()">Delete Shopping List</ion-item>
  <ion-item (click)="logout()">Logout</ion-item>
</ion-list>
