<a-header>
  <ng-container class="header-center-content">
    <ion-title>{{item?.title}}</ion-title>
  </ng-container>
</a-header>

<ion-content>
  <ion-grid *ngIf="item">
    <!--EDIT TITLE-->
    <ion-row>
      <ion-col>
        <ion-title text-center>Title</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input text-center
                     type="text"
                     (ionChange)="updateSelectedItemInCategory()"
                     [(ngModel)]="item.title"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <br>

    <!--QUANTITY-->
    <ion-row>
      <ion-col>
        <ion-title text-center>Quantity</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!--DECREASE-->
        <ion-buttons justify-content-center>
          <ion-button fill="outline"
                      color="danger"
                      (click)="decreaseAmount()">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>

      <ion-col>
        <!--DISPLAY AMOUNT-->
        <ion-input text-center
                   type="number"
                   [value]="item.quantity"></ion-input>
      </ion-col>

      <ion-col>
        <!--INCREASE-->
        <ion-buttons justify-content-center>
          <ion-button color="success"
                      fill="outline"
                      (click)="increaseAmount()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider>

    <br>

    <!--UNIT PRICE-->
    <ion-row>
      <ion-col>
        <ion-title text-center>Unit Price</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-label text-right>Kr.</ion-label>
            <ion-input text-center
                       type="number"
                       (ionChange)="updateSelectedItemInCategory()"
                       [(ngModel)]="item.price"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <br>

    <!--CATEGORY-->
    <div align="center">
      <ion-row align-items-center>
        <ion-col>
          <ion-title text-center>Category</ion-title>
        </ion-col>
      </ion-row>
      <!--CATEGORY SELECT-->
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngIf="$categories | async as categories">
              <ion-select style="color: black"
                          class="category-select"
                          (ionChange)="moveItemToCategory()"
                          [(ngModel)]="selectorCategoryTitle">
                <ion-select-option *ngFor="let category of categories"
                                   (ionSelect)="selectorCategory = category"
                                   [value]="category.title">{{category.title}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>
