<ion-list>
  <button ion-item
          (click)="navigateToManageLocationSortedCategories()">Manage Order of Categories</button>
  <button ion-item
          (click)="emptyShoppingList()">Empty Shopping List</button>
  <button *ngIf="userIsOwnerOfShoppingList"
          ion-item
          (click)="manageShoppingList()">Manage Shopping List</button>
  <button ion-item
          (click)="promptUserForNewShoppingList()">Create New Shopping List</button>
  <button *ngIf="userIsOwnerOfShoppingList &&
                 $userHasMoreThanOneShoppingList | async"
          ion-item
          (click)="promptUserToDeleteShoppingList()">Delete Shopping List</button>
  <button ion-item (click)="logout()">Logout</button>
</ion-list>
