<ion-header>

  <ion-navbar color="primary">
    <ion-grid>
      <ion-row align-items-center>
        <ion-col col-2>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
        <ion-col text-start>
          <ion-title>Categories</ion-title>
        </ion-col>
        <ion-col col-2>
          <button text-center ion-button color="secondary" (click)="promptForNewCategory()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="$categories | async as categories">
    <ion-list>
      <ion-item-group>
        <ion-item-sliding *ngFor="let category of categories">
          <ion-item>
            {{category.title}}
            <!--SLIDE FROM RIGHT TO LEFT-->
          </ion-item>
          <ion-item-options side="right">
            <button ion-button
                    color="primary"
                    (click)="promptForCategoryRename(category)">
              <ion-icon name="create"></ion-icon>
              Rename
            </button>
            <button ion-button
                    color="danger"
                    (click)="removeCategory(category)">
              <ion-icon name="trash"></ion-icon>
              Remove
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>
