<!--
  Generated template for the ShoppingListDetailItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{selectedItem?.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="selectedItem" padding>
    <ion-grid>
      <!--EDIT TITLE-->
      <ion-row>
        <ion-col>
          <h5 text-center>Title</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-input text-center
                     type="text"
                     (ionChange)="updateSelectedItemInCategory()"
                     [(ngModel)]="selectedItem.title"></ion-input>
        </ion-item>
      </ion-row>

      <br>

      <!--QUANTITY-->
      <ion-row>
        <ion-col>
          <h5 text-center>Quantity</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          <!--DECREASE-->
          <button float-end ion-button
                  outline
                  (click)="decreaseAmount()">
            <ion-icon name="remove"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <!--DISPLAY AMOUNT-->
          <ion-input text-center item-end type="number"
                     [(ngModel)]="selectedItem.quantity"></ion-input>
        </ion-col>
        <ion-col col-5>
          <!--INCREASE-->
          <button ion-button
                  outline
                  (click)="increaseAmount()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-item-divider></ion-item-divider>

      <br>

      <!--UNIT PRICE-->
      <ion-row>
        <ion-col>
          <h5 text-center>Unit Price</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-label text-right>Kr.</ion-label>
              <ion-input text-center type="number"
                         (ionChange)="updateSelectedItemInCategory()"
                         [(ngModel)]="selectedItem.price"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <br>

      <!--CATEGORY-->
      <div align="center">
        <ion-row align-items-center>
          <ion-col>
            <h5 text-center>Category</h5>
          </ion-col>
        </ion-row>
        <!--CATEGORY SELECT-->
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item *ngIf="$categories | async as categories">
                <ion-select class="category-select" (ionChange)="moveItemToCategory(categories)"
                            [(ngModel)]="selectorCategoryTitle">
                  <ion-option *ngFor="let category of categories"
                              [value]="category.title">{{category.title}}
                  </ion-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <!--CREATE NEW CATEGORY-->
        <ion-row>
          <ion-col>
            <button text-center ion-button color="secondary" (click)="promptForNewCategory()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>

    </ion-grid>
  </div>
</ion-content>
