<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <!--Left Menu Toggle-->
        <ion-col size="2">
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <!--Center Content-->
        <ion-col size="5">
          <ng-content select=".header-center-content"></ng-content>
        </ion-col>
        <!--Right Content-->
        <ion-col size="5">
          <ng-content select=".header-right-content"></ng-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
