<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shopping List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="$shoppingList | async as shoppingList">
    <ion-item>
      <ion-input type="text"
                 placeholder="Type Name Of Item To Add"
                 [(ngModel)]="newItemTitle"></ion-input>
      <button ion-button round
              *ngIf="newItemTitle || newItemTitle?.length > 0"
              item-right
              (click)="addItem(shoppingList)">
        Add Item
      </button>
    </ion-item>
    <ion-list *ngFor="let category of shoppingList.categories">
      <ion-list-header>
        {{category.title}}
      </ion-list-header>
      <ion-item-group (ionItemReorder)="updateListOrder($event, category)" reorder="true">
        <ion-item-sliding #slidingItem *ngFor="let item of category.items">
          <ion-item>
            <ion-checkbox item-start (ionChange)="changeChecked(category, item)"
                          [checked]="item.checked"></ion-checkbox>
            <ion-label *ngIf="item.quantity === 1">
              <h2>{{item.title}}</h2>
              <!--TODO ALH: DYNAMIC CURRENCY-->
              <h3 *ngIf="item.price">{{item.price}} kr.</h3>
            </ion-label>
            <ion-label *ngIf="item.quantity > 1">
              <h2>{{item.title}} - [{{item.quantity}}]</h2>
              <!--TODO ALH: DYNAMIC CURRENCY-->
              <h3 *ngIf="item.price">{{item.price * item.quantity}} Kr.</h3>
            </ion-label>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button
                    (click)="editItem(category, item, slidingItem)">
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
            <button ion-button
                    color="danger"
                    (click)="removeItem(category, item, slidingItem)">
              <ion-icon name="trash"></ion-icon>
              Remove
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <div *ngIf="$shoppingList | async as shoppingList">
    <ion-toolbar>
      <h3>Shopping List Total {{computeTotalOfItemsInList(shoppingList)}} Kr.</h3>
      <!--<ion-buttons end>-->
      <!--<button ion-button icon-right color="royal">-->
      <!--Send-->
      <!--<ion-icon name="send"></ion-icon>-->
      <!--</button>-->
      <!--</ion-buttons>-->
    </ion-toolbar>
  </div>
</ion-footer>
