<ion-header>
  <ion-navbar color="primary">
    <ion-grid>
      <ion-row align-items-center>
        <ion-col col-2>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
        <ion-col *ngIf="$shoppingLists | async as shoppingLists">
          <ion-select style="color: white"
                      [(ngModel)]="currentShoppingListTitle"
                      interface="popover">
            <ion-option *ngFor="let shoppingList of shoppingLists"
                        (ionSelect)="loadShoppingList(shoppingList)"
                        [value]="shoppingList.title">{{shoppingList.title}}
            </ion-option>
          </ion-select>
        </ion-col>
        <ion-col *ngIf="$locationsWithSortedCategories | async as locationsWithSortedCategories">
          <ion-select style="color: white"
                      [(ngModel)]="currentLocationTitle"
                      interface="popover">
            <ion-option *ngFor="let locationWithSortedCategories of locationsWithSortedCategories"
                        (ionSelect)="updateCategoriesOrderByLocation(locationWithSortedCategories)"
                        [value]="locationWithSortedCategories.title">
              {{locationWithSortedCategories.title}}
            </ion-option>
          </ion-select>
        </ion-col>
        <ion-col text-end col-2>
          <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="$currentShoppingList | async as shoppingList">
    <!--ADD ITEM-->
    <ion-item>
      <ion-input type="text"
                 (keyup.enter)="addItem(shoppingList)"
                 placeholder="Type Name Of Item To Add"
                 [(ngModel)]="newItemTitle"></ion-input>
      <button ion-button round
              *ngIf="newItemTitle || newItemTitle?.length > 0"
              item-right
              (click)="addItem(shoppingList)">
        Add Item
      </button>
    </ion-item>
    <!--SHOPPING LIST CATEGORIES WITH ITEMS-->
    <ion-list *ngFor="let category of shoppingList.categories">
      <div *ngIf="category.items.length > 0">
        <!--CATEGORY TITLE-->
        <ion-list-header>
          {{category.title}}
        </ion-list-header>
        <ion-item-group (ionItemReorder)="updateOrderOfItems($event, shoppingList, category)" reorder="true">
          <!--SLIDABLE ITEMS-->
          <ion-item-sliding #slidingItem *ngFor="let item of category.items">
            <ion-item>
              <ion-checkbox item-start (ionChange)="checkItemToCart(shoppingList, category, item)"
                            [checked]="item.checked"></ion-checkbox>
              <ion-label *ngIf="item.quantity === 1">
                <h2>{{item.title}}</h2>
                <!--TODO ALH: DYNAMIC CURRENCY-->
                <h3 *ngIf="item.price">{{item.price}} kr.</h3>
              </ion-label>
              <ion-label *ngIf="item.quantity > 1">
                <h2>{{item.title}} - [{{item.quantity}}]</h2>
                <!--TODO ALH: DYNAMIC CURRENCY-->
                <h3 *ngIf="item.price">{{item.price * item.quantity}} Kr.</h3>
              </ion-label>
            </ion-item>
            <!--SLIDE FROM RIGHT TO LEFT-->
            <ion-item-options side="right">
              <!--EDIT ITEM-->
              <button ion-button
                      (click)="editItem(shoppingList, category, item, slidingItem)">
                <ion-icon name="create"></ion-icon>
                Edit
              </button>
              <!--REMOVE ITEM-->
              <button ion-button
                      color="danger"
                      (click)="removeItem(shoppingList, category, item, slidingItem)">
                <ion-icon name="trash"></ion-icon>
                Remove
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-item-group>
      </div>
    </ion-list>
    <!--SHOPPING CART-->
    <ion-list  *ngIf="shoppingList.cart.items.length > 0">
      <ion-list-header text-center>
        Your Cart
      </ion-list-header>
      <!--CART ACTIONS-->
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button
                    item-start>
              Uncheck All
            </button>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <button ion-button item-end>
              Checkout
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--CHECK ITEMS-->
      <ion-item *ngFor="let checkedItem of shoppingList.cart.items">
        <ion-checkbox item-start (ionChange)="uncheckItemFromCart(shoppingList, checkedItem)"
                      [checked]="checkedItem.checked"></ion-checkbox>
        <ion-label>
          <h2>{{checkedItem.title}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <div *ngIf="$currentShoppingList | async as shoppingList">
    <ion-toolbar>
      <p text-center>Shopping List Total {{computeTotalOfItemsInList(shoppingList)}} Kr.</p>
      <!--<ion-buttons end>-->
      <!--<button ion-button icon-right color="royal">-->
      <!--Send-->
      <!--<ion-icon name="send"></ion-icon>-->
      <!--</button>-->
      <!--</ion-buttons>-->
    </ion-toolbar>
  </div>
</ion-footer>
