<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shopping List</ion-title>
  </ion-navbar>
  <ion-item>
    <ion-input type="text"
               placeholder="Type Name Of Item To Add"
               [(ngModel)]="newItemTitle"></ion-input>
    <button ion-button round
            *ngIf="newItemTitle || newItemTitle?.length > 0"
            item-right
            (click)="addItem()">
      Add Item
    </button>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      <div *ngIf="item.quantity === 1; then oneItem else moreItems"></div>
      <ng-template #oneItem>
      {{item.title}}
      </ng-template>
      <ng-template #moreItems>
        {{item.title}} - [{{item.quantity}}]
      </ng-template>
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
</ion-content>
