<ion-list no-padding no-margin>
  <!--SHOPPING LIST ACTIONS-->
  <ion-list-header>
    <ion-label>Shopping List</ion-label>
  </ion-list-header>

  <!--RENAME SHOPPING LIST SHOPPING LIST-->
  <ion-item (click)="onEditClicked()">
    <ion-label>Rename</ion-label>
    <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
  </ion-item>

  <!--LOCATION ACTIONS-->
  <ion-list-header>
    <ion-label>Location</ion-label>
  </ion-list-header>

  <!--RENAME SHOPPING LIST LOCATION-->
  <ion-item (click)="onRenameClicked()">
    <ion-label>Rename</ion-label>
    <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
  </ion-item>

  <!--REORDER CATEGORIES CATEGORIES FOR LOCATION-->
  <ion-item (click)="onReorderClicked()">
    <ion-label>Reorder Categories</ion-label>
    <ion-icon mode="ios" name="arrow-forward" slot="end"></ion-icon>
  </ion-item>
</ion-list>
