<ion-header>

  <ion-toolbar color="primary">
    <ion-title>{{shoppingList?.title}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <!--EDIT TITLE-->
    <ion-row>
      <ion-col>
        <h5 text-center>Title</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-input text-center
                   (debounce)="1000"
                   type="text"
                   (ionChange)="renameShoppingList()"
                   [(ngModel)]="shoppingList.title"></ion-input>
      </ion-item>
    </ion-row>

    <br>

    <!--SHARED WITH-->
    <div *ngIf="$shoppingListSharedWith | async as sharedShoppingLists">
      <ion-row>
        <ion-col>
          <h5 text-center>Shared With</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h6 text-center *ngFor="let sharedShoppingList of sharedShoppingLists">{{sharedShoppingList.sharedUserEmail}}
            <ion-button
                    clear
                    color="danger"
                    margin-bottom="45" (click)="promptToRemoveUserFromList(sharedShoppingList)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </h6>
        </ion-col>
      </ion-row>
    </div>

    <br>

    <!--INVITE USERS-->
    <ion-row>
      <ion-col>
        <h5 text-center>Invite User To List</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input text-center
                     type="email"
                     [(ngModel)]="inviteEmail"></ion-input>
          <ion-button item-end

                      icon-only
                      clear
                      [hidden]="inviteEmail.length === 0"
                      (click)="inviteUser()">
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
