<a-header>
  <!--Shopping List Selector-->
  <ng-container class="header-center-content">
    <ion-select *ngIf="userShoppingLists"
                [value]="currentShoppingList"
                [selectedText]="currentShoppingList?.title"
                interface="popover">
      <ion-select-option *ngFor="let shoppingList of userShoppingLists"
                         [selected]="currentShoppingList"
                         [value]="shoppingList">
        {{ shoppingList?.title }}
      </ion-select-option>
    </ion-select>
  </ng-container>

  <!--Location selector-->
  <ng-container class="header-right-content">
    <ion-select *ngIf="locationsWithSortedCategories"
                [value]="currentLocationWithSortedCategories"
                [selectedText]="currentLocationWithSortedCategories?.title"
                interface="popover">
      <ion-select-option *ngFor="let locationWithSortedCategories of locationsWithSortedCategories"
                         [selected]="currentShoppingList"
                         [value]="locationWithSortedCategories">
        {{ locationWithSortedCategories?.title }}
      </ion-select-option>
    </ion-select>
  </ng-container>
</a-header>

<ion-content>
  <!--Add Item Section-->
  <ion-item>
    <ion-input type="text"
               placeholder="Type Name Of Item To Add"
               (keyup.enter)="addItem()"
               [(ngModel)]="newItemTitle">
    </ion-input>
    <ion-button
        shape="round"
        fill="outline"
        id="addItemButton"
        *ngIf="newItemTitle?.length > 0"
        (click)="addItem()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>

  <!--Items Section-->
  <ion-list *ngFor="let category of currentShoppingList?.categories">
    <div *ngIf="category.items.length > 0">
      <!--Category-->
      <ion-list-header>
        {{category.title}}
      </ion-list-header>
      <ion-reorder-group disabled="false"
                         (ionItemReorder)="reorderItems($event.detail, category.items)">
        <!--Slide item-->
        <ion-item-sliding *ngFor="let item of category.items">
          <ion-item>
            <ion-checkbox slot="start"
                          (ionChange)="checkItemToCart(category, item)"
                          [(ngModel)]="item.checked"></ion-checkbox>
            <ion-label *ngIf="item.quantity === 1">
              <h2>{{item.title}}</h2>
              <h3 *ngIf="item.price">{{item.price}} kr.</h3>
            </ion-label>
            <ion-label *ngIf="item.quantity > 1">
              <h2>{{item.title}} - [{{item.quantity}}]</h2>
              <h3 *ngIf="item.price">{{item.price * item.quantity}} Kr.</h3>
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
          <!--SLIDE FROM RIGHT TO LEFT-->
          <ion-item-options side="end">
            <ion-button
                (click)="editItem(category, item)">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <!--REMOVE ITEM-->
            <ion-button
                color="danger"
                (click)="removeItem(category, item)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-reorder-group>
    </div>
  </ion-list>

  <!--Cart section-->
  <ion-list *ngIf="currentShoppingList?.cart.items.length > 0">
    <ion-list-header text-center>
      Your Cart - {{currentCartTotal}} Kr.
      <ion-buttons>
        <ion-button
            color="warning"
            slot="start"
            (click)="uncheckAllItemsFromCart()">
          Uncheck All
        </ion-button>
        <ion-button
            color="success"
            slot="end"
            (click)="checkoutCart()">
          Checkout
        </ion-button>
      </ion-buttons>
    </ion-list-header>
    <!--Checked items-->
    <ion-item *ngFor="let checkedItem of currentShoppingList.cart.items">
      <ion-checkbox slot="start" (ionChange)="uncheckItemFromCart(checkedItem)"
                    [checked]="checkedItem.checked"></ion-checkbox>
      <ion-label>
        <h2>{{checkedItem.title}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!--
TODO ALH: Implement more options!
<ion-col text-end size="2">
  <ion-button icon-only (click)="presentPopover()">
    <ion-icon name="more"></ion-icon>
  </ion-button>
</ion-col>-->

<!--
<ion-content>
    &lt;!&ndash;ADD ITEM&ndash;&gt;
    <ion-item>
      TODO ALH: Implement search for item!
                 (debounce)="1000"
                 (ionChange)="searchForItem(newItemTitle)"
    </ion-item>
    <ion-list *ngIf="itemsFromSearch.length > 0">
      <ion-item *ngFor="let foundItem of itemsFromSearch"
                text-center>
        <ion-button
            clear (click)="addFoundItem(foundItem, shoppingList)">{{foundItem.title}}</ion-button>
      </ion-item>
    </ion-list>

    TODO ALH: Implement Shopping cart
    &lt;!&ndash;SHOPPING CART&ndash;&gt;
    <ion-list *ngIf="shoppingList.cart.items.length > 0">
      <ion-list-header text-center>
        Your Cart - {{currentCartTotal}} Kr.
      </ion-list-header>
      &lt;!&ndash;CART ACTIONS&ndash;&gt;
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
                item-start
                (click)="uncheckAllItemsFromCart(shoppingList)">
              Uncheck All
            </ion-button>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <ion-button
                item-end
                (click)="checkoutCart(shoppingList)">
              Checkout
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      &lt;!&ndash;CHECKED ITEMS&ndash;&gt;
      <ion-item *ngFor="let checkedItem of shoppingList.cart.items">
        <ion-checkbox item-start (ionChange)="uncheckItemFromCart(shoppingList, checkedItem)"
                      [checked]="checkedItem.checked"></ion-checkbox>
        <ion-label>
          <h2>{{checkedItem.title}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>-->
